<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infotop.tourismplatform"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.infotop.tourismplatform.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".introductionnote.IntroductionNoteActivity"
            android:label="@string/title_activity_introduction_note" >
        </activity>
        <activity
            android:name=".food.FoodActivity"
            android:label="@string/title_activity_food" >
        </activity>
        <activity
            android:name=".buy.BuyActivity"
            android:label="@string/title_activity_buy" >
        </activity>
        <activity
            android:name=".localtransfer.LocalTransferActivity"
            android:label="@string/title_activity_local_transfer" >
        </activity>
        <activity
            android:name=".popularplaces.PopularPlacesActivity"
            android:label="@string/title_activity_popular_places" >
        </activity>
        <activity
            android:name="com.infotop.tourismplatform.traffic.TrafficActivity"
            android:label="@string/title_activity_traffic" >
        </activity>
    </application>

</manifest>
